.get-started {
  &__bottom-modal {
    background-color: var(--main-background);
    height: 45vh;
    border-radius: 35px 35px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
  }

  &__bottom-modal--footer {
    background-color: var(--utilities-disabled);
    padding: var(--spacing-3) var(--spacing-2);
  }
}
