/* Global Variables*/

:root {
  --colorWhite: #ffffff;
  --colorLight: #c6cdd2;
  --colorDark: #000000;
  --colorPrimary: #3e244e;
  --colorSecondary: #ed7545;
  --colorPositive: #fe7624;
}

html {
  font-size: 14px;
}

.mimo-text {
  font-family: 'customfont';
  font-size: 1.225rem;
  color: var(--colorPrimary);
  font-style: normal;
  padding: 0;
  margin: 0;
}

.mimo-text__h1 {
  font-size: 2.6rem;
  font-family: 'customfont700';
  letter-spacing: -0.5px;
  line-height: 2.9rem;
}

.mimo-text__h2 {
  font-family: 'customfont400';
  font-size: 1.45rem;
  line-height: 2rem;
  margin: 1rem 0 0 0;
}

.mimo-text__h3 {
  font-family: 'customfont700';
  font-size: 1.5rem;
  margin: 0 0 1.25rem 0;
}

.mimo-text__subtitle {
  font-family: 'customfont400';
  font-size: 1.45rem;
  line-height: 2rem;
  margin: 1rem 0 0 0;
}

.mimo-text--white {
  color: var(--colorWhite);
}

.mimo-text--light {
  color: var(--colorLight);
}

.mimo-text--dark {
  color: var(--colorDark);
}

.mimo-text--primary {
  color: var(--colorPrimary);
}

.mimo-text--secondary {
  color: var(--colorSecondary);
}

.mimo-text--positive {
  color: var(--colorPositive);
}

.mimo-modal {
}

.mimo-modal__dialog {
  width: clamp(300px, 90vw, 400px);
  border-radius: 20px !important;
  text-align: center;
}

.bgMain {
  background-color: var(--colorPositive);
}

.border-pattern {
  border-radius: 18px;
}

.single-line-input-pattern {
  font-family: 'customfont700';
  color: #3e254e;
  font-size: 1.45rem;
  text-align: center;
  height: 9vh;
}

.group-input-content-pattern {
  font-family: 'customfont600';
  font-weight: 500;
  color: #3e254e;
  font-size: 1.33rem;
  margin-top: -1.8vh;
}

.length-button-pattern {
  width: 168px;
}

.imgwhite {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
