:root {
  --main-primary: #ed7545;
  --main-secondary: #f2a16a;
  --main-alternate: #2a1d46;
  --main-highlight: #7066f2;
  --main-background: #ffffff;

  --status-warning: #fbd061;
  --status-danger: #ff6161;
  --status-sucess: #0fe386;

  --utilities-alternate: #b9c5cb;
  --utilities-border: #e8edf1;
  --utilities-clean: #f3f8fa;
  --utilities-light: #eeeef0;
  --utilities-disabled: #f9f9f9;
  --utilities-icon: #d2d6dc;
}
