/* Para sobrescrever o framework Quasar */

/* Palette Mimopet app */
.text-main-primary {
  color: #ed7545;
}
.text-main-secondary {
  color: #f2a16a;
}
.text-main-alternate {
  color: #2a1d46;
}
.text-main-alternate-light {
  color: #3e244e;
}
.text-main-highlight {
  color: #7066f2;
}
.text-main-background {
  color: #ffffff;
}

.bg-main-primary {
  background: #ed7545;
}
.bg-main-secondary {
  background: #f2a16a;
}
.bg-main-alternate {
  background: #2a1d46;
}
.bg-main-alternate-light {
  background: #3e244e;
}
.bg-main-highlight {
  background: #7066f2;
}
.bg-main-background {
  background: #ffffff;
}

.text-status-warning {
  color: #fbd061;
}
.text-status-danger {
  color: #ff6161;
}
.text-status-sucess {
  color: #0fe386;
}

.bg-status-warning {
  background: #fbd061;
}
.bg-status-danger {
  background: #ff6161;
}
.bg-status-sucess {
  background: #0fe386;
}

.text-utilities-alternate {
  color: #b9c5cb;
}
.text-utilities-border {
  color: #e8edf1;
}
.text-utilities-clean {
  color: #f3f8fa;
}
.text-utilities-light {
  color: #eeeef0;
}
.text-utilities-disabled {
  color: #f9f9f9;
}

.bg-utilities-alternate {
  background: #b9c5cb;
}
.bg-utilities-border {
  background: #e8edf1;
}
.bg-utilities-clean {
  background: #f3f8fa;
}
.bg-utilities-light {
  background: #eeeef0;
}
.bg-utilities-disabled {
  background: #f9f9f9;
}
