.q-pd-tda {
  font-family: 'customfont600';
  font-weight: 600;
  font-size: 2.1vh;
  text-align: justify;
  margin: 2 1 2vh 0;
}

.q-pa-md {
  font-family: 'customfont600';
  font-size: 1.45rem !important;
  font-weight: 600;
  text-align: center;
  margin-left: 4vh;
  border-radius: 60%;
  align-self: center;
  margin: 2 1 2vh 0;
}

.q-pa-nd {
  font-family: 'customfont600';
  font-size: 1rem;
  background-color: white;
  height: 55px;
}
.q-pa-cd {
  font-family: 'customfont600';
  font-size: 1rem;
  background-color: rgb(246, 105, 23);
  border-radius: 5%;
  color: white;
}
.q-pa-bt {
  font-family: 'customfont600';
  font-size: 1rem;
  background-color: rgb(209, 208, 208);
  height: 55px;
  width: 175px;
  margin-right: -2vh;
}
.cursor-p {
  margin-right: 100vh;
}
.cursor-s {
  margin-right: 90vh;
}

#Agenda {
  font-family: 'customfont600';
  font-size: 0.7rem;
}

#Treino {
  font-family: 'customfont600';
  border-radius: 10%;
  font-size: 1rem;
  background-color: navy;
  color: white;
  height: 30vmax;
}
