.notifications-wrapper {
  background: var(--main-background);
  min-height: 100vh;
  margin-top: 38px;
  &__content {
    &__header {
      h2 {
        font-family: 'customfont700';
        font-style: normal;
        font-weight: bold;
        font-size: var(--font-size-7);
        line-height: 29px;
        letter-spacing: -0.014em;
      }
    }
    &__info {
      height: 68px;
      &__divider {
        border-width: 1px;
        border-bottom-style: solid;
        border-color: var(--utilities-border);
      }
      p {
        font-family: 'customfont620';
        font-style: normal;
        font-weight: 500;
        font-size: var(--font-size-3);
        line-height: 17px;
        letter-spacing: -0.018em;
        margin: 0;
      }
      h4 {
        margin-bottom: 0;
        margin-top: 3px;
        font-family: 'customfont650';
        font-style: normal;
        font-weight: 600;
        font-size: var(--font-size-4);
        line-height: 19px;
        letter-spacing: -0.014em;
      }
    }
    &__footer {
      margin-top: 30px;
      margin-bottom: 30px;
      p {
        font-family: 'customfont620';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.014em;
      }
    }
  }
}
.text-h4 {
  font-family: 'customfont650';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.014em;
}
.pet-profile-row {
  width: calc(100vw);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
