.training-details-wrapper {
  padding-right: var(--font-size-7);
  padding-left: var(--font-size-7);
  &__header {
    &__title {
      font-family: 'customfont700';
      font-style: normal;
      font-weight: bold;
      font-size: var(--font-size-8);
      line-height: 44px;
      letter-spacing: -0.014em;
    }
    &__subtitle {
      font-family: 'customfont650';
      font-style: normal;
      font-weight: 600;
      font-size: var(--font-size-6);
      line-height: 24px;
      letter-spacing: -0.014em;
    }
  }
  &__footer {
    margin-top: var(--spacing-4);
    flex-direction: column;
    &__subtitle {
      font-family: 'customfont620';
      font-style: normal;
      font-weight: 500;
      font-size: var(--font-size-3);
      line-height: 17px;
      letter-spacing: -0.018em;
    }
    &__btn {
      font-family: 'customfont650';
      font-style: normal;
      font-weight: 600;
      font-size: var(--font-size-4);
      line-height: 19px;
      letter-spacing: -0.014em;
      margin-bottom: var(--spacing-3);
      margin-top: 5px;
    }
  }
}
