$timeLineHeight: 800px;

.pet-profile-container {
  height: 400px + $timeLineHeight;
  background: var(--main-highlight);
}

.pet-profile-row {
  width: calc(100vw);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
