.obedience {
  border-radius: 35px 35px 0 0 !important;
  width: 100%;

  &__button {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 12px 12px 12px 0;
    padding: 5px 15px;
  }

  &__text {
    color: var(--main-background);
    font-family: 'customfont700';
    font-size: var(--font-size-6);
    line-height: 29px;
    font-weight: 500;
    letter-spacing: 0.5px;

    &--pet-name {
      font-size: var(--font-size-5);
    }
  }
  .card-section {
    min-height: 171px;
  }
  .commands-list {
    min-height: calc(100vh - 355px);
  }
  .card-gutter {
    margin-top: 20px;
  }
}
